/* 
    Created on : 11-03-2015, 12:41:36
    Author     : petersodborgchristensen
*/
body{
    font-size: 24px;
}

#container {
	width:300px;
	height:400px;
	background:#00ade7;
	overflow:hidden;
}
#container .wrapper {
	position:relative;
	width:756px;
}


#container input {
	float:left;
	padding:10px 12px;
	width:156px;
	height:8px;
	line-height:37px;
	border:1px solid;
        margin-top:5px;
	//background:transparent url('images/input.png') 0% 100% no-repeat;
}
* html #container input {
	/* IE FIX */
	width:180px;
}
#container .button {
	float:right;
	width:66px;
	height:25px;
	border:1px solid;
        margin:10px 10px 10px 10px;
	//background:transparent url('images/send.png') 0% 100% no-repeat;
	text-indent:-8000px;
}


